name: Package latest version

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
  workflow_call:

jobs:
  package:
    name: "Package"
    runs-on: windows-latest

    strategy:
      matrix:
        PLATFORM: ["x86", "x64"]

    steps:
      - name: <Checkout>
        uses: actions/checkout@v4

      - name: <Build>
        shell: pwsh
        run: .\Build\package-latest-version.ps1 -InformationAction Continue -Platform ${{ matrix.PLATFORM }}

      - name: <Upload>
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.PLATFORM }}
          path: package/*
          compression-level: 1
          if-no-files-found: error

  archive:
    name: "Archive"
    runs-on: ubuntu-latest

    needs:
      - package

    steps:
      - name: <Download> x86
        uses: actions/download-artifact@v4
        with:
          name: package-x86

      - name: <Download> x64
        uses: actions/download-artifact@v4
        with:
          name: package-x64

      - name: <ls>
        shell: pwsh
        run: Get-ChildItem -Recurse

      - name: <Upload>
        uses: actions/upload-artifact@v4
        with:
          name: archive
          path: ./**/*.exe
          compression-level: 9
          if-no-files-found: error
